<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create - Apresentação_Alunos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Alunos Sesi Senai</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/"><i class="bi bi-house-fill"></i> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/Resposta/Create"><i class="bi bi-person-circle"></i> Aluno</a>
                        </li>
                    </ul>
                    <div>
                        <img style="height: 40px;" src="https://s3-sa-east-1.amazonaws.com/recrutai-dev/fa6e1de0-005a-11ec-9c76-59037194a6de/logo/fa6e1de0-005a-11ec-9c76-59037194a6de_1630771003936_54w.png" alt="">
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <h1>Aluno</h1>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6">
                    <h4>Quem sou eu:</h4>
                    <hr />
                    <form action="/Resposta/Create" method="post">
                        <div class="form-group">
                            <label class="control-label" for="Nome">Nome:</label>
                            <input class="form-control" type="text" id="Nome" name="Nome" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Resp1">Eu sou: (Uma qualidade sua)</label>
                            <input class="form-control" type="text" id="Resp1" name="Resp1" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Resp2">Eu gosto de:</label>
                            <input class="form-control" type="text" id="Resp2" name="Resp2" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Resp3">Eu não gosto de:</label>
                            <input class="form-control" type="text" id="Resp3" name="Resp3" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Resp4">Meu hobby é:</label>
                            <input class="form-control" type="text" id="Resp4" name="Resp4" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Resp5">Meu filme, série, livro, artista favorito é:</label>
                            <input class="form-control" type="text" id="Resp5" name="Resp5" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Resp6">Eu quero seguir a área de: (profissão)</label>
                            <input class="form-control" type="text" id="Resp6" name="Resp6" required />
                        </div>
                        <div class="form-group mt-3 text-center">
                            <button type="submit" class="btn btn-primary"><i class="bi bi-floppy2-fill"></i> Gravar minha resposta</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <img src="https://static.wixstatic.com/media/e241d5_2e63cb92a3df423eb6dd88d52c40d40d~mv2.gif" alt="">
                </div>
            </div>
            <div class="mt-3 text-center">
                <a class="btn btn-danger" href="/Resposta"><i class="bi bi-arrow-return-left"></i> Lista</a>
            </div>
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Apresentação Alunos
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>